In [1]:
!pip install merlin-core

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting merlin-core
  Downloading merlin-core-23.4.0.tar.gz (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.5/133.5 kB 4.8 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting betterproto<2.0.0
  Downloading betterproto-1.2.5.tar.gz (26 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting dask-cuda>=22.12.0
  Downloading dask_cuda-23.4.0-py3-none-any.whl (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.3/125.3 kB 14.6 MB/s eta 0:00:00
Collecting pynvml<11.5,>=11.0.0
  Downloading pynvml-11.4.1-py3-none-any.whl (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.0/47.0 kB 5.7 MB/s eta 0:00:00
Requirement already satisfied: dask>=2022.11.1 in /usr/local/lib/python3.9/dist-packages (from merlin-core) (2022.12.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from merlin-core) (23.1)
Requirement already satisfied: fsspec>=2022.7.1 in /usr/local/lib/python3.9/dist-packages (from merlin-core) (2023.4.0)
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core) (3.20.3)
Requirement already satisfied: numba>=0.54 in /usr/local/lib/python3.9/dist-packages (from merlin-core) (0.56.4)
Requirement already satisfied: numpy>=1.22.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core) (1.22.4)
Requirement already satisfied: distributed>=2022.11.1 in /usr/local/lib/python3.9/dist-packages (from merlin-core) (2022.12.1)
Requirement already satisfied: tensorflow-metadata>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core) (1.13.1)
Requirement already satisfied: tqdm>=4.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core) (4.65.0)
Requirement already satisfied: pandas<1.6.0dev0,>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core) (1.5.3)
Requirement already satisfied: pyarrow>=5.0.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core) (9.0.0)
Collecting grpclib
  Downloading grpclib-0.4.3.tar.gz (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.1/62.1 kB 7.7 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting stringcase
  Downloading stringcase-1.2.0.tar.gz (3.0 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core) (2.2.1)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core) (6.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core) (0.12.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core) (8.1.3)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core) (1.4.0)
Collecting distributed>=2022.11.1
  Downloading distributed-2023.3.2.1-py3-none-any.whl (957 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 957.1/957.1 kB 44.1 MB/s eta 0:00:00
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.9/dist-packages (from dask-cuda>=22.12.0->merlin-core) (3.0.0)
Collecting dask>=2022.11.1
  Downloading dask-2023.3.2-py3-none-any.whl (1.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.2/1.2 MB 50.9 MB/s eta 0:00:00
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core) (6.6.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core) (1.7.0)
Requirement already satisfied: urllib3>=1.24.3 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core) (1.26.15)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core) (6.2)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core) (2.4.0)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core) (3.1.2)
Requirement already satisfied: locket>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core) (1.0.0)
Requirement already satisfied: psutil>=5.7.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core) (5.9.5)
Requirement already satisfied: msgpack>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core) (1.0.5)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.9/dist-packages (from numba>=0.54->merlin-core) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from numba>=0.54->merlin-core) (67.7.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas<1.6.0dev0,>=1.2.0->merlin-core) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas<1.6.0dev0,>=1.2.0->merlin-core) (2.8.2)
Requirement already satisfied: googleapis-common-protos<2,>=1.52.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow-metadata>=1.2.0->merlin-core) (1.59.0)
Requirement already satisfied: absl-py<2.0.0,>=0.9 in /usr/local/lib/python3.9/dist-packages (from tensorflow-metadata>=1.2.0->merlin-core) (1.4.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=4.13.0->dask>=2022.11.1->merlin-core) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2>=2.10.3->distributed>=2022.11.1->merlin-core) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas<1.6.0dev0,>=1.2.0->merlin-core) (1.16.0)
Collecting h2<5,>=3.1.0
  Downloading h2-4.1.0-py3-none-any.whl (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.5/57.5 kB 8.1 MB/s eta 0:00:00
Collecting multidict
  Downloading multidict-6.0.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 kB 15.7 MB/s eta 0:00:00
Collecting hpack<5,>=4.0
  Downloading hpack-4.0.0-py3-none-any.whl (32 kB)
Collecting hyperframe<7,>=6.0
  Downloading hyperframe-6.0.1-py3-none-any.whl (12 kB)
Building wheels for collected packages: merlin-core, betterproto, grpclib, stringcase
  Building wheel for merlin-core (pyproject.toml) ... done
  Created wheel for merlin-core: filename=merlin_core-23.4.0-py3-none-any.whl size=159581 sha256=3c74cdcd6138deeacaa07da2dad3c5b4f269a54cef60cbab37205ad4d2e46df3
  Stored in directory: /root/.cache/pip/wheels/f5/31/45/8953c759849b17fc121aac770f7e36dd17274438824d023440
  Building wheel for betterproto (pyproject.toml) ... done
  Created wheel for betterproto: filename=betterproto-1.2.5-py3-none-any.whl size=22012 sha256=17f6c4bfe40d9203c03047f9ca07b486004d2d4a99fd880a0a4054b39b6e27c2
  Stored in directory: /root/.cache/pip/wheels/7a/8c/a5/7ff29cf885b2c7edef6258a6c3080706a3a7e370af602b42ab
  Building wheel for grpclib (pyproject.toml) ... done
  Created wheel for grpclib: filename=grpclib-0.4.3-py3-none-any.whl size=77078 sha256=eb6f8b674dc692412508b136ace7e58f70919d405374b8ad1f024af2ebc369be
  Stored in directory: /root/.cache/pip/wheels/5a/a1/de/a8b24573ded6e3c45fd195daf6322d115b2830630b61df7f9f
  Building wheel for stringcase (setup.py) ... done
  Created wheel for stringcase: filename=stringcase-1.2.0-py3-none-any.whl size=3583 sha256=0b605564ca36c5c7d5219902347d1be9bad56e72caefa7ce5c9bae5fa43031f1
  Stored in directory: /root/.cache/pip/wheels/0a/0d/86/88baa0554de5fdccfc2b2ee060175eec0a85c12cdfd8fef566
Successfully built merlin-core betterproto grpclib stringcase
Installing collected packages: stringcase, pynvml, multidict, hyperframe, hpack, h2, dask, grpclib, distributed, dask-cuda, betterproto, merlin-core
  Attempting uninstall: dask
    Found existing installation: dask 2022.12.1
    Uninstalling dask-2022.12.1:
      Successfully uninstalled dask-2022.12.1
  Attempting uninstall: distributed
    Found existing installation: distributed 2022.12.1
    Uninstalling distributed-2022.12.1:
      Successfully uninstalled distributed-2022.12.1
Successfully installed betterproto-1.2.5 dask-2023.3.2 dask-cuda-23.4.0 distributed-2023.3.2.1 grpclib-0.4.3 h2-4.1.0 hpack-4.0.0 hyperframe-6.0.1 merlin-core-23.4.0 multidict-6.0.4 pynvml-11.4.1 stringcase-1.2.0

In [2]:
!pip install nvtabular

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nvtabular
  Downloading nvtabular-23.2.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (302 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.7/302.7 kB 10.6 MB/s eta 0:00:00
Collecting merlin-dataloader>=0.0.2
  Downloading merlin-dataloader-23.2.1.tar.gz (49 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.2/49.2 kB 4.4 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from nvtabular) (1.10.1)
Requirement already satisfied: merlin-core>=0.2.0 in /usr/local/lib/python3.9/dist-packages (from nvtabular) (23.4.0)
Requirement already satisfied: fsspec>=2022.7.1 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (2023.4.0)
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (3.20.3)
Requirement already satisfied: tensorflow-metadata>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (1.13.1)
Requirement already satisfied: pyarrow>=5.0.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (9.0.0)
Requirement already satisfied: dask-cuda>=22.12.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (23.4.0)
Requirement already satisfied: betterproto<2.0.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (1.2.5)
Requirement already satisfied: distributed>=2022.11.1 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (2023.3.2.1)
Requirement already satisfied: pynvml<11.5,>=11.0.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (11.4.1)
Requirement already satisfied: dask>=2022.11.1 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (2023.3.2)
Requirement already satisfied: numba>=0.54 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (0.56.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (23.1)
Requirement already satisfied: numpy>=1.22.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (1.22.4)
Requirement already satisfied: tqdm>=4.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (4.65.0)
Requirement already satisfied: pandas<1.6.0dev0,>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->nvtabular) (1.5.3)
Requirement already satisfied: stringcase in /usr/local/lib/python3.9/dist-packages (from betterproto<2.0.0->merlin-core>=0.2.0->nvtabular) (1.2.0)
Requirement already satisfied: grpclib in /usr/local/lib/python3.9/dist-packages (from betterproto<2.0.0->merlin-core>=0.2.0->nvtabular) (0.4.3)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->nvtabular) (2.2.1)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->nvtabular) (6.6.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->nvtabular) (6.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->nvtabular) (0.12.0)
Requirement already satisfied: partd>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->nvtabular) (1.4.0)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->nvtabular) (8.1.3)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.9/dist-packages (from dask-cuda>=22.12.0->merlin-core>=0.2.0->nvtabular) (3.0.0)
Requirement already satisfied: urllib3>=1.24.3 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->nvtabular) (1.26.15)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->nvtabular) (2.4.0)
Requirement already satisfied: psutil>=5.7.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->nvtabular) (5.9.5)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->nvtabular) (1.7.0)
Requirement already satisfied: msgpack>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->nvtabular) (1.0.5)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->nvtabular) (6.2)
Requirement already satisfied: locket>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->nvtabular) (1.0.0)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->nvtabular) (3.1.2)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.9/dist-packages (from numba>=0.54->merlin-core>=0.2.0->nvtabular) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from numba>=0.54->merlin-core>=0.2.0->nvtabular) (67.7.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas<1.6.0dev0,>=1.2.0->merlin-core>=0.2.0->nvtabular) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas<1.6.0dev0,>=1.2.0->merlin-core>=0.2.0->nvtabular) (2.8.2)
Requirement already satisfied: absl-py<2.0.0,>=0.9 in /usr/local/lib/python3.9/dist-packages (from tensorflow-metadata>=1.2.0->merlin-core>=0.2.0->nvtabular) (1.4.0)
Requirement already satisfied: googleapis-common-protos<2,>=1.52.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow-metadata>=1.2.0->merlin-core>=0.2.0->nvtabular) (1.59.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=4.13.0->dask>=2022.11.1->merlin-core>=0.2.0->nvtabular) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2>=2.10.3->distributed>=2022.11.1->merlin-core>=0.2.0->nvtabular) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas<1.6.0dev0,>=1.2.0->merlin-core>=0.2.0->nvtabular) (1.16.0)
Requirement already satisfied: multidict in /usr/local/lib/python3.9/dist-packages (from grpclib->betterproto<2.0.0->merlin-core>=0.2.0->nvtabular) (6.0.4)
Requirement already satisfied: h2<5,>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from grpclib->betterproto<2.0.0->merlin-core>=0.2.0->nvtabular) (4.1.0)
Requirement already satisfied: hpack<5,>=4.0 in /usr/local/lib/python3.9/dist-packages (from h2<5,>=3.1.0->grpclib->betterproto<2.0.0->merlin-core>=0.2.0->nvtabular) (4.0.0)
Requirement already satisfied: hyperframe<7,>=6.0 in /usr/local/lib/python3.9/dist-packages (from h2<5,>=3.1.0->grpclib->betterproto<2.0.0->merlin-core>=0.2.0->nvtabular) (6.0.1)
Building wheels for collected packages: merlin-dataloader
  Building wheel for merlin-dataloader (pyproject.toml) ... done
  Created wheel for merlin-dataloader: filename=merlin_dataloader-23.2.1-py3-none-any.whl size=40725 sha256=10c0cf15bc3297235ad062ef9173b3eeb8e0956a03a365f04049d4c5a528a15f
  Stored in directory: /root/.cache/pip/wheels/34/bb/93/d35bf8e031723b123fc587e5b201e769d6398f30f2d746f17c
Successfully built merlin-dataloader
Installing collected packages: merlin-dataloader, nvtabular
Successfully installed merlin-dataloader-23.2.1 nvtabular-23.2.0

In [3]:
!pip install merlin-models

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting merlin-models
  Downloading merlin-models-23.2.0.tar.gz (392 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 392.1/392.1 kB 10.0 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: merlin-core>=0.2.0 in /usr/local/lib/python3.9/dist-packages (from merlin-models) (23.4.0)
Requirement already satisfied: merlin-dataloader>=0.0.2 in /usr/local/lib/python3.9/dist-packages (from merlin-models) (23.2.1)
Requirement already satisfied: pandas<1.6.0dev0,>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (1.5.3)
Requirement already satisfied: tqdm>=4.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (4.65.0)
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (3.20.3)
Requirement already satisfied: pyarrow>=5.0.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (9.0.0)
Requirement already satisfied: tensorflow-metadata>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (1.13.1)
Requirement already satisfied: distributed>=2022.11.1 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (2023.3.2.1)
Requirement already satisfied: dask-cuda>=22.12.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (23.4.0)
Requirement already satisfied: fsspec>=2022.7.1 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (2023.4.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (23.1)
Requirement already satisfied: dask>=2022.11.1 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (2023.3.2)
Requirement already satisfied: numpy>=1.22.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (1.22.4)
Requirement already satisfied: numba>=0.54 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (0.56.4)
Requirement already satisfied: betterproto<2.0.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (1.2.5)
Requirement already satisfied: pynvml<11.5,>=11.0.0 in /usr/local/lib/python3.9/dist-packages (from merlin-core>=0.2.0->merlin-models) (11.4.1)
Requirement already satisfied: stringcase in /usr/local/lib/python3.9/dist-packages (from betterproto<2.0.0->merlin-core>=0.2.0->merlin-models) (1.2.0)
Requirement already satisfied: grpclib in /usr/local/lib/python3.9/dist-packages (from betterproto<2.0.0->merlin-core>=0.2.0->merlin-models) (0.4.3)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->merlin-models) (8.1.3)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->merlin-models) (2.2.1)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->merlin-models) (6.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->merlin-models) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->merlin-models) (6.6.0)
Requirement already satisfied: partd>=1.2.0 in /usr/local/lib/python3.9/dist-packages (from dask>=2022.11.1->merlin-core>=0.2.0->merlin-models) (1.4.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.9/dist-packages (from dask-cuda>=22.12.0->merlin-core>=0.2.0->merlin-models) (3.0.0)
Requirement already satisfied: urllib3>=1.24.3 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->merlin-models) (1.26.15)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->merlin-models) (1.7.0)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->merlin-models) (6.2)
Requirement already satisfied: locket>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->merlin-models) (1.0.0)
Requirement already satisfied: sortedcontainers>=2.0.5 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->merlin-models) (2.4.0)
Requirement already satisfied: psutil>=5.7.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->merlin-models) (5.9.5)
Requirement already satisfied: msgpack>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->merlin-models) (1.0.5)
Requirement already satisfied: jinja2>=2.10.3 in /usr/local/lib/python3.9/dist-packages (from distributed>=2022.11.1->merlin-core>=0.2.0->merlin-models) (3.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from numba>=0.54->merlin-core>=0.2.0->merlin-models) (67.7.2)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.9/dist-packages (from numba>=0.54->merlin-core>=0.2.0->merlin-models) (0.39.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas<1.6.0dev0,>=1.2.0->merlin-core>=0.2.0->merlin-models) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas<1.6.0dev0,>=1.2.0->merlin-core>=0.2.0->merlin-models) (2.8.2)
Requirement already satisfied: absl-py<2.0.0,>=0.9 in /usr/local/lib/python3.9/dist-packages (from tensorflow-metadata>=1.2.0->merlin-core>=0.2.0->merlin-models) (1.4.0)
Requirement already satisfied: googleapis-common-protos<2,>=1.52.0 in /usr/local/lib/python3.9/dist-packages (from tensorflow-metadata>=1.2.0->merlin-core>=0.2.0->merlin-models) (1.59.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.9/dist-packages (from importlib-metadata>=4.13.0->dask>=2022.11.1->merlin-core>=0.2.0->merlin-models) (3.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.9/dist-packages (from jinja2>=2.10.3->distributed>=2022.11.1->merlin-core>=0.2.0->merlin-models) (2.1.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas<1.6.0dev0,>=1.2.0->merlin-core>=0.2.0->merlin-models) (1.16.0)
Requirement already satisfied: multidict in /usr/local/lib/python3.9/dist-packages (from grpclib->betterproto<2.0.0->merlin-core>=0.2.0->merlin-models) (6.0.4)
Requirement already satisfied: h2<5,>=3.1.0 in /usr/local/lib/python3.9/dist-packages (from grpclib->betterproto<2.0.0->merlin-core>=0.2.0->merlin-models) (4.1.0)
Requirement already satisfied: hpack<5,>=4.0 in /usr/local/lib/python3.9/dist-packages (from h2<5,>=3.1.0->grpclib->betterproto<2.0.0->merlin-core>=0.2.0->merlin-models) (4.0.0)
Requirement already satisfied: hyperframe<7,>=6.0 in /usr/local/lib/python3.9/dist-packages (from h2<5,>=3.1.0->grpclib->betterproto<2.0.0->merlin-core>=0.2.0->merlin-models) (6.0.1)
Building wheels for collected packages: merlin-models
  Building wheel for merlin-models (pyproject.toml) ... done
  Created wheel for merlin-models: filename=merlin_models-23.2.0-py3-none-any.whl size=371141 sha256=d2c3f18547d27deaa9c2cbc82c1d83fbe5f76c06e6a2cfbac34f39d97d25f3ae
  Stored in directory: /root/.cache/pip/wheels/af/60/7f/5dd12f4c95d06237dc60140170042f2cac4972320b2cbdda5a
Successfully built merlin-models
Installing collected packages: merlin-models
Successfully installed merlin-models-23.2.0

In [4]:
!pip install redis==4.4.2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting redis==4.4.2
  Downloading redis-4.4.2-py3-none-any.whl (237 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 237.8/237.8 kB 7.8 MB/s eta 0:00:00
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.4.2

### 1 - Importing Libraries

In [5]:
import os
import logging
import time
import warnings
warnings.filterwarnings('ignore')

import nvtabular as nvt
import merlin.models.tf as mm
import tensorflow as tf

from nvtabular.ops import *

from merlin.datasets.synthetic import generate_data
from merlin.datasets.ecommerce import transform_aliccp
from merlin.models.utils.example_utils import workflow_fit_transform
from merlin.models.utils.dataset import unique_rows_by_features
from merlin.schema.tags import Tags
from merlin.io.dataset import Dataset


# disable INFO and DEBUG logging everywhere
logging.disable(logging.WARNING)

WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.tracking.data_structures has been moved to tensorflow.python.trackable.data_structures. The old module will be deleted in version 2.11.

### 2 - Generate and Process Synthetic Ali-CCP Dataset

In [6]:
# Generate the synthetic data
NUM_ROWS = 1000000
TRAIN_SIZE = 0.7
VALID_SIZE = 0.3

train, valid = generate_data("aliccp-raw", NUM_ROWS, set_sizes=(TRAIN_SIZE, VALID_SIZE))

In [7]:
# Define output path for data
DATA_DIR = "/model-data/aliccp"
OUTPUT_DATA_DIR = os.path.join(DATA_DIR, "processed")
OUTPUT_RETRIEVAL_DATA_DIR = os.path.join(OUTPUT_DATA_DIR, "retrieval")
CATEGORY_TEMP_DIR = os.path.join(DATA_DIR, "categories")

In [8]:
# Define NVTabular Feature Transformation Pipeline

user_id_raw = ["user_id"] >> Rename(postfix='_raw') >> LambdaOp(lambda col: col.astype("int32")) >> TagAsUserFeatures()
item_id_raw = ["item_id"] >> Rename(postfix='_raw') >> LambdaOp(lambda col: col.astype("int32")) >> TagAsItemFeatures()

user_id = ["user_id"] >> Categorify(dtype="int32", out_path=CATEGORY_TEMP_DIR) >> TagAsUserID()
item_id = ["item_id"] >> Categorify(dtype="int32", out_path=CATEGORY_TEMP_DIR) >> TagAsItemID()

item_features = (
    ["item_category", "item_shop", "item_brand"] >> Categorify(dtype="int32", out_path=CATEGORY_TEMP_DIR) >> TagAsItemFeatures()
)

user_features = (
    [
        "user_shops",
        "user_profile",
        "user_group",
        "user_gender",
        "user_age",
        "user_consumption_2",
        "user_is_occupied",
        "user_geography",
        "user_intentions",
        "user_brands",
        "user_categories",
    ]
    >> Categorify(dtype="int32", out_path=CATEGORY_TEMP_DIR)
    >> TagAsUserFeatures()
)

targets = ["click"] >> AddMetadata(tags=[Tags.BINARY_CLASSIFICATION, "target"])

outputs = user_id + item_id + item_features + user_features +  user_id_raw + item_id_raw + targets

# add dropna op to filter rows with nulls
outputs = outputs >> Dropna()

In [9]:
# Transform data and create files
transform_aliccp((train, valid), OUTPUT_DATA_DIR, nvt_workflow=outputs)

### 3 - Candidate Retrieval Model

#### 3.1 - Feature Engineering for Candidate Retrieval

In [10]:
# Load Datasets from generated files
train_retrieval = Dataset(os.path.join(OUTPUT_DATA_DIR, "train", "*.parquet"))
valid_retrieval = Dataset(os.path.join(OUTPUT_DATA_DIR, "valid", "*.parquet"))

In [11]:
# Define NVTabular Feature Transformation Pipeline

inputs = train_retrieval.schema.column_names

# Select only positive interaction rows where click==1 in the dataset with Filter() operator
outputs = inputs >> Filter(f=lambda df: df["click"] == 1)

# Execute the transformation workflow for both datasets
workflow = nvt.Workflow(outputs)
workflow.fit(train_retrieval)
workflow.transform(train_retrieval).to_parquet(
    output_path=os.path.join(OUTPUT_RETRIEVAL_DATA_DIR, "train")
)
workflow.transform(valid_retrieval).to_parquet(
    output_path=os.path.join(OUTPUT_RETRIEVAL_DATA_DIR, "valid")
)

In [12]:
# Read transformed parquet files as Dataset objects
train_retrieval = Dataset(os.path.join(OUTPUT_RETRIEVAL_DATA_DIR, "train", "*.parquet"), part_size="500MB")
valid_retrieval = Dataset(os.path.join(OUTPUT_RETRIEVAL_DATA_DIR, "valid", "*.parquet"), part_size="500MB")

In [13]:
# Create model input schema
schema = train_retrieval.schema.select_by_tag([Tags.ITEM_ID, Tags.USER_ID, Tags.ITEM, Tags.USER]).without(['user_id_raw', 'item_id_raw', 'click'])
train_retrieval.schema = schema
valid_retrieval.schema = schema

In [ ]:
schema

[{'name': 'user_id', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.ID: 'id'>, <Tags.USER_ID: 'user_id'>, <Tags.USER: 'user'>}, 'properties': {'embedding_sizes': {'cardinality': 780.0, 'dimension': 67.0}, 'num_buckets': None, 'freq_threshold': 0.0, 'start_index': 0.0, 'max_size': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_id.parquet', 'domain': {'min': 0, 'max': 779, 'name': 'user_id'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'item_id', 'tags': {<Tags.ITEM_ID: 'item_id'>, <Tags.CATEGORICAL: 'categorical'>, <Tags.ID: 'id'>, <Tags.ITEM: 'item'>}, 'properties': {'embedding_sizes': {'cardinality': 756.0, 'dimension': 65.0}, 'start_index': 0.0, 'freq_threshold': 0.0, 'num_buckets': None, 'max_size': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.item_id.parquet', 'domain': {'min': 0, 'max': 755, 'name': 'item_id'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'item_category', 'tags': {<Tags.ITEM: 'item'>, <Tags.CATEGORICAL: 'categorical'>}, 'properties': {'num_buckets': None, 'freq_threshold': 0.0, 'embedding_sizes': {'dimension': 65.0, 'cardinality': 756.0}, 'start_index': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.item_category.parquet', 'max_size': 0.0, 'domain': {'min': 0, 'max': 755, 'name': 'item_category'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'item_shop', 'tags': {<Tags.ITEM: 'item'>, <Tags.CATEGORICAL: 'categorical'>}, 'properties': {'embedding_sizes': {'cardinality': 756.0, 'dimension': 65.0}, 'max_size': 0.0, 'num_buckets': None, 'freq_threshold': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.item_shop.parquet', 'start_index': 0.0, 'domain': {'min': 0, 'max': 755, 'name': 'item_shop'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'item_brand', 'tags': {<Tags.ITEM: 'item'>, <Tags.CATEGORICAL: 'categorical'>}, 'properties': {'embedding_sizes': {'cardinality': 756.0, 'dimension': 65.0}, 'cat_path': '/model-data/aliccp/categories/categories/unique.item_brand.parquet', 'freq_threshold': 0.0, 'start_index': 0.0, 'max_size': 0.0, 'num_buckets': None, 'domain': {'min': 0, 'max': 755, 'name': 'item_brand'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_shops', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'freq_threshold': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_shops.parquet', 'max_size': 0.0, 'start_index': 0.0, 'embedding_sizes': {'dimension': 67.0, 'cardinality': 780.0}, 'num_buckets': None, 'domain': {'min': 0, 'max': 779, 'name': 'user_shops'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_profile', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'embedding_sizes': {'cardinality': 47.0, 'dimension': 16.0}, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_profile.parquet', 'num_buckets': None, 'start_index': 0.0, 'max_size': 0.0, 'freq_threshold': 0.0, 'domain': {'min': 0, 'max': 46, 'name': 'user_profile'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_group', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'start_index': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_group.parquet', 'embedding_sizes': {'cardinality': 11.0, 'dimension': 16.0}, 'max_size': 0.0, 'num_buckets': None, 'freq_threshold': 0.0, 'domain': {'min': 0, 'max': 10, 'name': 'user_group'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_gender', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'cat_path': '/model-data/aliccp/categories/categories/unique.user_gender.parquet', 'embedding_sizes': {'cardinality': 3.0, 'dimension': 16.0}, 'num_buckets': None, 'start_index': 0.0, 'max_size': 0.0, 'freq_threshold': 0.0, 'domain': {'min': 0, 'max': 2, 'name': 'user_gender'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_age', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'max_size': 0.0, 'freq_threshold': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_age.parquet', 'start_index': 0.0, 'embedding_sizes': {'cardinality': 7.0, 'dimension': 16.0}, 'num_buckets': None, 'domain': {'min': 0, 'max': 6, 'name': 'user_age'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_consumption_2', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'max_size': 0.0, 'embedding_sizes': {'dimension': 16.0, 'cardinality': 4.0}, 'num_buckets': None, 'start_index': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_consumption_2.parquet', 'freq_threshold': 0.0, 'domain': {'min': 0, 'max': 3, 'name': 'user_consumption_2'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_is_occupied', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'num_buckets': None, 'start_index': 0.0, 'embedding_sizes': {'cardinality': 3.0, 'dimension': 16.0}, 'freq_threshold': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_is_occupied.parquet', 'max_size': 0.0, 'domain': {'min': 0, 'max': 2, 'name': 'user_is_occupied'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_geography', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'cat_path': '/model-data/aliccp/categories/categories/unique.user_geography.parquet', 'embedding_sizes': {'dimension': 16.0, 'cardinality': 5.0}, 'freq_threshold': 0.0, 'num_buckets': None, 'start_index': 0.0, 'max_size': 0.0, 'domain': {'min': 0, 'max': 4, 'name': 'user_geography'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_intentions', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'start_index': 0.0, 'max_size': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_intentions.parquet', 'embedding_sizes': {'cardinality': 780.0, 'dimension': 67.0}, 'num_buckets': None, 'freq_threshold': 0.0, 'domain': {'min': 0, 'max': 779, 'name': 'user_intentions'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_brands', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'freq_threshold': 0.0, 'num_buckets': None, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_brands.parquet', 'embedding_sizes': {'cardinality': 780.0, 'dimension': 67.0}, 'start_index': 0.0, 'max_size': 0.0, 'domain': {'min': 0, 'max': 779, 'name': 'user_brands'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_categories', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'embedding_sizes': {'cardinality': 780.0, 'dimension': 67.0}, 'freq_threshold': 0.0, 'max_size': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_categories.parquet', 'num_buckets': None, 'start_index': 0.0, 'domain': {'min': 0, 'max': 779, 'name': 'user_categories'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}]

#### 3.2 - Designing Retrieval Model Architecture

In [14]:
# Function to create the two tower retrieval model

def create_two_tower(tower_dim: int, encoder_dim: int, optimizer: str, k: int, tags) -> mm.TwoTowerModelV2:
    # User/Query Tower
    user_schema = schema.select_by_tag(tags.USER)
    # create user (query) tower input block
    user_inputs = mm.InputBlockV2(user_schema)
    # create user (query) encoder block
    query = mm.Encoder(
        user_inputs,
        mm.MLPBlock([encoder_dim, tower_dim], no_activation_last_layer=True)
    )

    # Item/Candidate Tower
    item_schema = schema.select_by_tag(tags.ITEM)
    # create item (candidate) tower input block
    item_inputs = mm.InputBlockV2(item_schema)
    # create item (candidate) encoder block
    candidate = mm.Encoder(
        item_inputs,
        mm.MLPBlock([encoder_dim, tower_dim], no_activation_last_layer=True)
    )
    
    # Build Model Class
    model = mm.TwoTowerModelV2(query, candidate)
    model.compile(
        optimizer=optimizer,
        run_eagerly=False,
        loss="categorical_crossentropy",
        metrics=[mm.RecallAt(k), mm.NDCGAt(k)]
    )
    return model

In [15]:
# Initialize model
retrieval_model = create_two_tower(
    tower_dim=64,
    encoder_dim=128,
    optimizer="adam",
    k=10,
    tags=Tags
)

# Fit model
retrieval_model.fit(train_retrieval, validation_data=valid_retrieval, batch_size=4096, epochs=2)

Epoch 1/2
86/86 [==============================] - 121s 1s/step - loss: 8.2951 - recall_at_10: 0.0257 - ndcg_at_10: 0.0243 - regularization_loss: 0.0000e+00 - loss_batch: 8.2778 - val_loss: 8.2924 - val_recall_at_10: 0.0318 - val_ndcg_at_10: 0.0318 - val_regularization_loss: 0.0000e+00 - val_loss_batch: 7.9301
Epoch 2/2
86/86 [==============================] - 148s 2s/step - loss: 8.2946 - recall_at_10: 0.0292 - ndcg_at_10: 0.0290 - regularization_loss: 0.0000e+00 - loss_batch: 8.2772 - val_loss: 8.2928 - val_recall_at_10: 0.0212 - val_ndcg_at_10: 0.0200 - val_regularization_loss: 0.0000e+00 - val_loss_batch: 7.9301

#### 3.3 - Evaluate the model accuracy

In [16]:
# Create candidate/item features for evaluation
candidate_features = unique_rows_by_features(train_retrieval, Tags.ITEM, Tags.ITEM_ID)

# Here's a sneek peek of the item features data
candidate_features.head()

   item_id  item_category  item_shop  item_brand
0       54             54         54          54
1       42             42         42          42
2        6              6          6           6
3       11             11         11          11
4       45             45         45          45

In [17]:
# Convert model to a top_k_encoder
topk_model = retrieval_model.to_top_k_encoder(candidate_features, k=20, batch_size=128)
topk_model.compile(run_eagerly=False)

In [18]:
# Create data loader for validation data
eval_loader = mm.Loader(valid_retrieval, batch_size=1024).map(mm.ToTarget(schema, "item_id"))

# Evaluation
metrics = topk_model.evaluate(eval_loader, return_dict=True)
metrics

147/147 [==============================] - 5s 19ms/step - loss: 0.4305 - recall_at_10: 0.0907 - mrr_at_10: 0.0368 - ndcg_at_10: 0.0494 - map_at_10: 0.0368 - precision_at_10: 0.0091 - regularization_loss: 0.0000e+00 - loss_batch: 0.4310

{'loss': 0.4304984509944916,
 'recall_at_10': 0.09073246270418167,
 'mrr_at_10': 0.0367504358291626,
 'ndcg_at_10': 0.049375735223293304,
 'map_at_10': 0.0367504358291626,
 'precision_at_10': 0.009073246270418167,
 'regularization_loss': 0.0,
 'loss_batch': 0.49215763807296753}

#### 3.4 - Generate top-K candidates

In [19]:
# Create query/user features for evaluation
user_features = unique_rows_by_features(valid_retrieval, Tags.USER, Tags.USER_ID)
user_features.head()

,user_id,user_shops,user_profile,user_group,user_gender,user_age,user_consumption_2,user_is_occupied,user_geography,user_intentions,user_brands,user_categories
0,72,72,3,1,1,1,1,1,1,72,72,72
1,64,64,3,1,1,1,1,1,1,64,64,64
2,12,12,1,1,1,1,1,1,1,12,12,12
4,5,5,1,1,1,1,1,1,1,5,5,5
5,91,91,4,1,1,1,1,1,1,91,91,91

In [20]:
# Check out one batch of 8 Users
loader = mm.Loader(user_features, batch_size=8, shuffle=False)
batch = next(iter(loader))
print(batch[0]['user_id'])

tf.Tensor(
[[72]
 [64]
 [12]
 [ 5]
 [91]
 [35]
 [41]
 [76]], shape=(8, 1), dtype=int32)

In [21]:
scores, reccommended_item_ids = topk_model(batch[0])

In [22]:
# Recommended Items for the batch of 8 Users
reccommended_item_ids

<tf.Tensor: shape=(8, 20), dtype=int32, numpy=
array([[323,  26,  62,   2,   1,  10,  23, 472, 240, 249, 160, 147,  19,
        156, 118, 251,   3, 554, 133, 253],
       [103, 286, 319,  65, 114, 430,   3, 336,  49, 227, 292,  54,  38,
         94, 510, 126, 760,   9,  85,  40],
       [  4,  26,   2,  68,  62, 279, 359, 508,  41, 170, 687, 190, 323,
         58,   8, 472,  23, 410,  87,  10],
       [ 66,   6, 304,  47,  67, 117, 258, 150, 382, 256, 261, 107,  71,
        378,  35, 234,   2,  95,  16,   5],
       [223,  85, 286,   6,  36, 430, 126,  13,  14,   3, 376,  55,   2,
        160, 240, 610,   7, 120, 107, 271],
       [330,  48,   6,  39, 107,   7, 175, 270, 223, 484, 261, 117,  50,
        328,   2, 240, 492, 505, 376, 392],
       [ 15,   4,  20,  13,  42, 159, 437,   1,  44,  29, 121,  83, 361,
        672, 338,   2,  91, 273, 276,  81],
       [ 11,   8,  10, 339,  24,  84,  18, 313, 144,   3, 494, 362, 208,
        223,  32, 269,  38, 195, 490, 232]], dtype=int32)>

In [23]:
# Recommendation "scores" (higher is better) for each recommended item for the batch of 8 Users
scores

<tf.Tensor: shape=(8, 20), dtype=float32, numpy=
array([[0.05276944, 0.05233829, 0.04976109, 0.04800563, 0.04746087,
        0.04671508, 0.04646668, 0.04556989, 0.04400257, 0.04280441,
        0.04248533, 0.04237156, 0.04073053, 0.03999903, 0.03934871,
        0.03901606, 0.03857965, 0.03828777, 0.03811958, 0.03805274],
       [0.130582  , 0.10790169, 0.10362538, 0.09574649, 0.09130216,
        0.09095713, 0.08744904, 0.08681182, 0.08608769, 0.08503264,
        0.08348239, 0.08287771, 0.08158878, 0.08135947, 0.07902861,
        0.07789732, 0.07764154, 0.0769981 , 0.07642979, 0.07535517],
       [0.09923722, 0.09389003, 0.07405806, 0.07362521, 0.07280977,
        0.07133134, 0.0699445 , 0.06551005, 0.0654885 , 0.06486274,
        0.06451014, 0.06421043, 0.06403524, 0.06217494, 0.06024908,
        0.05732848, 0.05724588, 0.05695262, 0.05658302, 0.05632554],
       [0.08351682, 0.07034975, 0.06938601, 0.06599684, 0.06357297,
        0.05978742, 0.05831856, 0.05247527, 0.05225769, 0.050938  ,
        0.0479091 , 0.04472509, 0.04440337, 0.0438881 , 0.04329075,
        0.04243112, 0.04136419, 0.04131134, 0.04065264, 0.03857354],
       [0.05223102, 0.05122738, 0.05092819, 0.05022832, 0.04828199,
        0.04796013, 0.04703674, 0.04345184, 0.04315109, 0.04232655,
        0.04113509, 0.04105465, 0.03964344, 0.03952971, 0.03795334,
        0.03742989, 0.03700851, 0.03606391, 0.035041  , 0.03410338],
       [0.03771966, 0.03730907, 0.03698818, 0.03670431, 0.03516948,
        0.03479047, 0.0341802 , 0.03371267, 0.03330944, 0.02984352,
        0.02908387, 0.02857638, 0.02842143, 0.02674668, 0.02673126,
        0.02660706, 0.02617376, 0.0256251 , 0.02534145, 0.02513263],
       [0.06932236, 0.05969069, 0.05261689, 0.05084932, 0.04985794,
        0.04782039, 0.04689204, 0.04681076, 0.0439902 , 0.04306824,
        0.04252298, 0.0416816 , 0.04125518, 0.0407337 , 0.03959487,
        0.03939888, 0.03801608, 0.0359811 , 0.03560321, 0.03502989],
       [0.05161803, 0.04879034, 0.04610774, 0.04477709, 0.04474229,
        0.0441041 , 0.04339134, 0.04265275, 0.04038653, 0.04027037,
        0.04011886, 0.03854655, 0.03807956, 0.03667028, 0.03656248,
        0.03640758, 0.03565245, 0.0352364 , 0.03490934, 0.03367359]],
      dtype=float32)>

### 4 - Ranking Model

#### 4.1 - Feature Engineering for DLRM

In [25]:
train_rank = Dataset(os.path.join(OUTPUT_DATA_DIR, 'train', '*.parquet'), part_size='500MB')
valid_rank = Dataset(os.path.join(OUTPUT_DATA_DIR, 'valid', '*.parquet'), part_size='500MB')

schema = train_rank.schema.without(['user_id_raw', 'item_id_raw'])

In [26]:
schema

[{'name': 'user_id', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>, <Tags.USER_ID: 'user_id'>, <Tags.ID: 'id'>}, 'properties': {'max_size': 0.0, 'start_index': 0.0, 'freq_threshold': 0.0, 'embedding_sizes': {'dimension': 65.0, 'cardinality': 747.0}, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_id.parquet', 'num_buckets': None, 'domain': {'min': 0, 'max': 746, 'name': 'user_id'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'item_id', 'tags': {<Tags.ITEM: 'item'>, <Tags.CATEGORICAL: 'categorical'>, <Tags.ID: 'id'>, <Tags.ITEM_ID: 'item_id'>}, 'properties': {'cat_path': '/model-data/aliccp/categories/categories/unique.item_id.parquet', 'num_buckets': None, 'max_size': 0.0, 'embedding_sizes': {'cardinality': 792.0, 'dimension': 67.0}, 'freq_threshold': 0.0, 'start_index': 0.0, 'domain': {'min': 0, 'max': 791, 'name': 'item_id'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'item_category', 'tags': {<Tags.ITEM: 'item'>, <Tags.CATEGORICAL: 'categorical'>}, 'properties': {'freq_threshold': 0.0, 'embedding_sizes': {'cardinality': 792.0, 'dimension': 67.0}, 'max_size': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.item_category.parquet', 'num_buckets': None, 'start_index': 0.0, 'domain': {'min': 0, 'max': 791, 'name': 'item_category'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'item_shop', 'tags': {<Tags.ITEM: 'item'>, <Tags.CATEGORICAL: 'categorical'>}, 'properties': {'max_size': 0.0, 'freq_threshold': 0.0, 'start_index': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.item_shop.parquet', 'embedding_sizes': {'cardinality': 792.0, 'dimension': 67.0}, 'num_buckets': None, 'domain': {'min': 0, 'max': 791, 'name': 'item_shop'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'item_brand', 'tags': {<Tags.ITEM: 'item'>, <Tags.CATEGORICAL: 'categorical'>}, 'properties': {'freq_threshold': 0.0, 'num_buckets': None, 'max_size': 0.0, 'embedding_sizes': {'dimension': 67.0, 'cardinality': 792.0}, 'cat_path': '/model-data/aliccp/categories/categories/unique.item_brand.parquet', 'start_index': 0.0, 'domain': {'min': 0, 'max': 791, 'name': 'item_brand'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_shops', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'cat_path': '/model-data/aliccp/categories/categories/unique.user_shops.parquet', 'freq_threshold': 0.0, 'max_size': 0.0, 'num_buckets': None, 'embedding_sizes': {'dimension': 65.0, 'cardinality': 747.0}, 'start_index': 0.0, 'domain': {'min': 0, 'max': 746, 'name': 'user_shops'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_profile', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'embedding_sizes': {'cardinality': 59.0, 'dimension': 16.0}, 'start_index': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_profile.parquet', 'max_size': 0.0, 'num_buckets': None, 'freq_threshold': 0.0, 'domain': {'min': 0, 'max': 58, 'name': 'user_profile'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_group', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'freq_threshold': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_group.parquet', 'max_size': 0.0, 'num_buckets': None, 'embedding_sizes': {'dimension': 16.0, 'cardinality': 12.0}, 'start_index': 0.0, 'domain': {'min': 0, 'max': 11, 'name': 'user_group'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_gender', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'start_index': 0.0, 'num_buckets': None, 'embedding_sizes': {'cardinality': 3.0, 'dimension': 16.0}, 'max_size': 0.0, 'freq_threshold': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_gender.parquet', 'domain': {'min': 0, 'max': 2, 'name': 'user_gender'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_age', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'embedding_sizes': {'dimension': 16.0, 'cardinality': 8.0}, 'freq_threshold': 0.0, 'start_index': 0.0, 'num_buckets': None, 'max_size': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_age.parquet', 'domain': {'min': 0, 'max': 7, 'name': 'user_age'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_consumption_2', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'freq_threshold': 0.0, 'start_index': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_consumption_2.parquet', 'embedding_sizes': {'dimension': 16.0, 'cardinality': 4.0}, 'max_size': 0.0, 'num_buckets': None, 'domain': {'min': 0, 'max': 3, 'name': 'user_consumption_2'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_is_occupied', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'start_index': 0.0, 'num_buckets': None, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_is_occupied.parquet', 'embedding_sizes': {'cardinality': 3.0, 'dimension': 16.0}, 'max_size': 0.0, 'freq_threshold': 0.0, 'domain': {'min': 0, 'max': 2, 'name': 'user_is_occupied'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_geography', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'start_index': 0.0, 'embedding_sizes': {'dimension': 16.0, 'cardinality': 5.0}, 'freq_threshold': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_geography.parquet', 'num_buckets': None, 'max_size': 0.0, 'domain': {'min': 0, 'max': 4, 'name': 'user_geography'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_intentions', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'embedding_sizes': {'dimension': 65.0, 'cardinality': 747.0}, 'num_buckets': None, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_intentions.parquet', 'start_index': 0.0, 'freq_threshold': 0.0, 'max_size': 0.0, 'domain': {'min': 0, 'max': 746, 'name': 'user_intentions'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_brands', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'cat_path': '/model-data/aliccp/categories/categories/unique.user_brands.parquet', 'freq_threshold': 0.0, 'num_buckets': None, 'max_size': 0.0, 'embedding_sizes': {'cardinality': 747.0, 'dimension': 65.0}, 'start_index': 0.0, 'domain': {'min': 0, 'max': 746, 'name': 'user_brands'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'user_categories', 'tags': {<Tags.CATEGORICAL: 'categorical'>, <Tags.USER: 'user'>}, 'properties': {'freq_threshold': 0.0, 'embedding_sizes': {'cardinality': 747.0, 'dimension': 65.0}, 'max_size': 0.0, 'cat_path': '/model-data/aliccp/categories/categories/unique.user_categories.parquet', 'start_index': 0.0, 'num_buckets': None, 'domain': {'min': 0, 'max': 746, 'name': 'user_categories'}}, 'dtype': DType(name='int32', element_type=<ElementType.Int: 'int'>, element_size=32, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}, {'name': 'click', 'tags': {<Tags.TARGET: 'target'>, <Tags.BINARY_CLASSIFICATION: 'binary_classification'>}, 'properties': {'domain': {'min': 0, 'max': 2, 'name': 'click'}}, 'dtype': DType(name='int64', element_type=<ElementType.Int: 'int'>, element_size=64, element_unit=None, signed=True, shape=Shape(dims=None)), 'is_list': False, 'is_ragged': False}]

In [27]:
# Target column here is "click" (binary classification)
target_column = schema.select_by_tag(Tags.TARGET).column_names[0]
target_column

'click'

#### 4.2 - Train DLRM

In [30]:
def create_dlrm(optimizer: str, schema, target_column: str, embedding_dim: int):
  model = mm.DLRMModel(
      schema,
      embedding_dim=embedding_dim,
      bottom_block=mm.MLPBlock([128, 64]),
      top_block=mm.MLPBlock([128, 64, 32]),
      prediction_tasks=mm.BinaryClassificationTask(target_column),
  )
  model.compile(optimizer=optimizer, run_eagerly=False, metrics=[tf.keras.metrics.AUC()])
  return model

In [31]:

dlrm = create_dlrm(
    optimizer='adam',
    schema=schema,
    target_column=target_column,
    embedding_dim=64
)

dlrm.fit(train_rank, validation_data=valid_rank, batch_size=16*1024, epochs=3)

Epoch 1/3
43/43 [==============================] - 27s 510ms/step - loss: 0.6932 - auc: 0.4999 - regularization_loss: 0.0000e+00 - loss_batch: 0.6932 - val_loss: 0.6931 - val_auc: 0.5000 - val_regularization_loss: 0.0000e+00 - val_loss_batch: 0.6932
Epoch 2/3
43/43 [==============================] - 21s 469ms/step - loss: 0.6931 - auc: 0.5032 - regularization_loss: 0.0000e+00 - loss_batch: 0.6931 - val_loss: 0.6932 - val_auc: 0.5005 - val_regularization_loss: 0.0000e+00 - val_loss_batch: 0.6933
Epoch 3/3
43/43 [==============================] - 24s 552ms/step - loss: 0.6928 - auc: 0.5141 - regularization_loss: 0.0000e+00 - loss_batch: 0.6928 - val_loss: 0.6936 - val_auc: 0.5007 - val_regularization_loss: 0.0000e+00 - val_loss_batch: 0.6942

In [32]:
# Check out one batch of users
loader = mm.Loader(valid_rank, batch_size=8, shuffle=False)
batch = next(iter(loader))
print(batch[0]['user_id'], batch[0]['item_id'])

tf.Tensor(
[[ 6]
 [72]
 [64]
 [12]
 [73]
 [12]
 [ 4]
 [ 4]], shape=(8, 1), dtype=int32) tf.Tensor(
[[ 11]
 [437]
 [ 26]
 [ 11]
 [  7]
 [ 20]
 [  3]
 [176]], shape=(8, 1), dtype=int32)

In [33]:
# Test the DLRM model I/O with the user batch
dlrm(batch[0])

<tf.Tensor: shape=(8, 1), dtype=float32, numpy=
array([[0.5256107 ],
       [0.49127865],
       [0.48480904],
       [0.4908913 ],
       [0.47849238],
       [0.47689816],
       [0.49065113],
       [0.48722944]], dtype=float32)>

#### 4.3 - Test Retrieval and Rank together

In [34]:
# Test full pipeline
import numpy as np

# Reload Dataset
train_retrieval = Dataset(os.path.join(OUTPUT_RETRIEVAL_DATA_DIR, "train", "*.parquet"), part_size="500MB")
schema = train_retrieval.schema.select_by_tag([Tags.ITEM_ID, Tags.USER_ID, Tags.ITEM, Tags.USER]).without(['click'])
train_retrieval.schema = schema

# User and Item Offline Feature "Stores"
item_fs = unique_rows_by_features(train_retrieval, Tags.ITEM, Tags.ITEM_ID).to_ddf().compute()
user_fs = unique_rows_by_features(train_retrieval, Tags.USER, Tags.USER_ID).to_ddf().compute()

In [35]:
# User batch loader
user_loader = mm.Loader(unique_rows_by_features(train_retrieval, Tags.USER, Tags.USER_ID), batch_size=8, shuffle=False)

# Sample User batch
user_batch = next(iter(user_loader))
users = user_batch[0]['user_id']
users

<tf.Tensor: shape=(8, 1), dtype=int32, numpy=
array([[52],
       [17],
       [ 3],
       [ 2],
       [28],
       [23],
       [ 4],
       [ 6]], dtype=int32)>

In [36]:
# Retrieve candidate Items for each User
_, candidate_item_ids = topk_model(user_batch[0])
candidate_item_ids

<tf.Tensor: shape=(8, 20), dtype=int32, numpy=
array([[ 11,  10,  23, 582, 311,  18, 217,  73, 165, 203, 754, 371,  31,
         78, 399,  26, 152, 223, 147, 177],
       [ 18,   7, 230,  12, 241,  20, 271, 311,   2, 152, 110,  48, 100,
        284,  67, 567,  46, 432,   1,  14],
       [ 18,   3,   2,  67, 415,  12,  48, 383,  14,  20,   7, 433, 223,
          1, 467,  30, 299,   5, 206, 382],
       [258,   6,   9, 250,  65, 413,  66, 280, 306, 373, 234,  15, 107,
         33, 448, 162, 378, 276, 150, 745],
       [  6,   9,   4, 359, 107, 258,  65, 280,  52, 458, 276, 421, 413,
        666, 606, 377,  13, 240, 270,  17],
       [  4,  74,  84, 313, 104,  24,  62, 338,  73, 265,  38, 355, 111,
        170, 208,  53,  44,  99, 174, 232],
       [160, 103,  19, 319,  38, 127, 430, 286, 223, 336, 118,  40, 510,
         49, 126,   3,  84, 227, 232,  85],
       [  2,  10, 284,   4,  26,  15,  12,  83, 128, 595, 106, 359, 582,
         25, 273,  11, 487,  41,  68,  20]], dtype=int32)>

##### 4.4 - Define Functions to run Recommendation Pipeline

In [37]:
# Softmax sample function for ordering
def softmax_sample(recs: np.array, scores: np.array) -> np.array:
    arr = np.exp(scores)/sum(np.exp(scores))
    top_item_idx = (-arr).argsort()
    return recs[top_item_idx]

def generate_recommendations_batch(topk_model, dlrm, input_data, batch_size: int, tags):
    user_loader = mm.Loader(unique_rows_by_features(input_data, tags.USER, tags.USER_ID), batch_size=batch_size, shuffle=False)
    
    # Load a batch
    for batch in user_loader:
            
        # Generate candidates for this batch of users
        users = batch[0]['user_id']
        _, candidate_item_ids = topk_model(batch[0])
        
        # For each user + candidate items, score with the DLRM
        for user, candidates in zip(users.numpy(), candidate_item_ids.numpy()):
            try:
                num_recs = len(candidates)
                user_id = user[0]

                # get user features
                user_features = user_fs[user_fs.user_id == user_id]
                raw_user_id = user_features.user_id_raw.to_numpy()[0]
                user_features = user_features.append([user_features]*(num_recs-1), ignore_index=True)

                # get item features
                item_features = item_fs[item_fs.item_id.isin(candidates)].reset_index(drop=True)
                raw_item_ids = item_features.item_id_raw.to_numpy()

                # combine into feature vectors
                item_features[user_features.columns] = user_features
                item_features = Dataset(item_features)
                item_features.schema = schema.without(['click'])

                # Score with ranking model
                inputs = mm.Loader(item_features, batch_size=num_recs)
                inputs = next(iter(inputs))
                scores = dlrm(inputs[0]).numpy().reshape(-1)

                # Rank
                recs = softmax_sample(raw_item_ids, scores)

                yield raw_user_id, recs
            except Exception as e:
                logging.info(user_id, str(e))

In [38]:
# Test Recommendation Generator
next(generate_recommendations_batch(topk_model, dlrm, train_retrieval, 32, Tags))

(52,
 array([180, 328, 160, 367, 405, 724, 563, 203,  73, 164, 216,  24,  13,
         32,  78, 141, 214,  14,  27,  20], dtype=int32))

### 5.0 - Write Recommendations to Redis

In [39]:
# Import needed Redis libraries
import asyncio
import typing as t
import redis.asyncio as redis
from redis.commands.json.path import Path

In [40]:
async def store_recommendations(recommendations: t.Iterable, redis_conn: redis.Redis):
    """
    Store the recommendations generated for each User in Redis.

    Parameters:
        recommendations (t.Iterable): A generator over a dictionary where the keys are user_ids and the values are lists of recommendations
        redis_conn (redis.Redis): A Redis connection object used to store the recommendations in Redis
    """
    async def store_as_json(user_id: str, recs: list):
        """
        Store an individual user's latest recommendations in Redis.

        Parameters:
            user_id (str): The user id of the user whose recommendations are being stored
            recs (list): A list of item_ids representing the recommendations for the user
        """
        entry = {
            "user_id": int(user_id),
            "recommendations": [int(rec) for rec in recs]
        }
        # Set the JSON object in Redis
        await redis_conn.json().set(f"USER:{user_id}", Path.root_path(), entry)
        
    # Write the recommendations to Redis as a JSON object
    for user_id, recs in recommendations:
        await store_as_json(user_id, recs)

In [ ]:
redis_conn = redis.Redis(
    host="redis-inference-store",
    port=6379,
    decode_responses=True
)

# Create Recommendation Denerator
recommendations = generate_recommendations_batch(topk_model, dlrm, train_retrieval, 32, Tags)

# Run the process - may take a few minutes
await store_recommendations(recommendations, redis_conn=redis_conn)

### 6.0 - Fetch Recommendations from Redis

In [ ]:
!redis-cli -h redis-inference-store -p 6379 JSON.GET USER:1

In [ ]:
# Simple benchmark with async Python client
times = []
for i in range(300):
    t = time.time()
    await redis_conn.json().get(f"USER:{i}")
    times.append(time.time()-t)
    
# Average read time from Redis --> less than a ms likely
np.average(times)

### 7.0 - Export Models

#### 7.1 - Export Retrieval Model

In [42]:
query_tower = retrieval_model.query_encoder
query_tower.save(os.path.join(DATA_DIR, "query_tower"))

## we can load back the saved model via the following script.
#query_tower_loaded = tf.keras.models.load_model(os.path.join(DATA_DIR, 'query_tower'))

#### 7.2 - Export User features

In [43]:
user_features = (
    unique_rows_by_features(train_retrieval, Tags.USER, Tags.USER_ID).compute().reset_index(drop=True)
)
user_features.head()

,user_id,user_shops,user_profile,user_group,user_gender,user_age,user_consumption_2,user_is_occupied,user_geography,user_intentions,user_brands,user_categories,user_id_raw
0,52,52,2,1,1,1,1,1,1,52,52,52,52
1,17,17,1,1,1,1,1,1,1,17,17,17,19
2,3,3,1,1,1,1,1,1,1,3,3,3,6
3,2,2,1,1,1,1,1,1,1,2,2,2,7
4,28,28,2,1,1,1,1,1,1,28,28,28,29

In [44]:
# save to disk
user_features.to_parquet(os.path.join(DATA_DIR, "user_features.parquet"))

#### 7.3 - Export User Embeddings

In [45]:
queries = retrieval_model.query_embeddings(Dataset(user_features, schema=schema), batch_size=1024, index=Tags.USER_ID)
query_embs_df = queries.compute(scheduler="synchronous").reset_index()
query_embs_df.head()

,user_id,0,1,2,3,4,5,6,7,8,...,54,55,56,57,58,59,60,61,62,63
0,1,-0.016454,0.047637,0.029430,0.092070,-0.075310,-0.117258,0.081995,-0.023881,0.049352,...,0.011308,-0.038586,0.066274,-0.018696,-0.004772,-0.067845,-0.024231,-0.041651,-0.034216,0.041892
1,2,-0.039006,0.044807,0.068528,0.093152,-0.034810,-0.134904,0.115000,0.035052,0.026317,...,0.106941,-0.072939,-0.000363,-0.059570,-0.016762,-0.073508,-0.005920,-0.022326,0.042812,-0.047774
2,3,0.011051,0.014181,-0.037957,0.043957,-0.002348,-0.042717,0.015754,-0.042029,0.000412,...,0.012987,-0.003837,-0.037139,-0.063552,0.002379,-0.042614,0.053593,-0.020704,-0.000197,-0.062537
3,4,-0.106151,-0.060785,0.000231,0.109255,-0.012758,-0.019461,0.015303,0.042368,0.036709,...,-0.135305,-0.057978,0.020739,-0.088541,-0.021950,-0.010913,-0.002898,-0.066684,0.050496,0.023917
4,5,0.037376,0.159237,-0.034339,0.105674,0.028274,-0.136207,0.179024,0.006649,0.004559,...,0.158877,-0.037146,0.020592,-0.021437,0.015181,-0.115882,0.059757,0.037434,-0.067330,-0.017049

#### 7.4 - Export Item Features

In [46]:
item_features = (
    unique_rows_by_features(train_retrieval, Tags.ITEM, Tags.ITEM_ID).compute().reset_index(drop=True)
)
item_features.head()

   item_id  item_category  item_shop  item_brand  item_id_raw
0       54             54         54          54           54
1       42             42         42          42           42
2        6              6          6           6           10
3       11             11         11          11           14
4       45             45         45          45           45

In [48]:
# save to disk
item_features.to_parquet(os.path.join(DATA_DIR, "item_features.parquet"))

#### 7.5 - Export Item Embeddings

In [49]:
item_embs = retrieval_model.candidate_embeddings(Dataset(item_features, schema=schema), batch_size=1024, index=Tags.ITEM_ID)
item_embs_df = item_embs.compute(scheduler="synchronous")
item_embs_df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
item_id,,,,,,,,,,,,,,,,,,,,,
1,0.009732,-0.014411,-0.025075,0.012731,0.042892,0.024582,0.029094,0.003211,0.057809,0.005961,...,0.015897,-0.012351,-0.050376,0.016657,-0.057117,-0.037514,-0.000722,0.042838,-0.101512,-0.016187
2,0.010512,-0.017656,-0.036645,0.038234,-0.023894,-0.009890,-0.002719,-0.026165,-0.006086,0.045234,...,0.021852,0.039206,0.016535,-0.029534,-0.077412,-0.102906,-0.028267,0.003728,-0.009214,0.050523
3,-0.015020,-0.040423,-0.023804,0.083483,0.036492,0.038706,0.008003,0.031845,-0.003107,-0.011783,...,0.000122,0.029737,-0.048085,0.020916,-0.067554,-0.025193,-0.024575,0.016857,-0.003245,0.043760
4,-0.014155,0.005807,0.062907,-0.029907,-0.074642,-0.075029,-0.002133,-0.052205,0.049959,-0.049147,...,0.051226,-0.042476,0.020111,-0.006088,-0.072868,0.006863,-0.019055,-0.032266,-0.111518,0.074673
5,0.007159,-0.036682,-0.030354,0.040060,0.022868,-0.043924,0.000604,0.006278,0.051364,0.008314,...,0.045578,0.017455,-0.022009,0.003558,-0.030128,-0.020089,-0.030706,0.023854,-0.046757,0.037810

In [50]:
# save to disk
item_embs_df.to_parquet(os.path.join(DATA_DIR, "item_embeddings.parquet"))

7.6 - Export DLRM

In [51]:
dlrm.save(os.path.join(DATA_DIR, "dlrm"))

In [55]:
!zip -r model /model-data

  adding: model-data/ (stored 0%)
  adding: model-data/aliccp/ (stored 0%)
  adding: model-data/aliccp/dlrm/ (stored 0%)
  adding: model-data/aliccp/dlrm/.merlin/ (stored 0%)
  adding: model-data/aliccp/dlrm/.merlin/input_schema.json (deflated 89%)
  adding: model-data/aliccp/dlrm/.merlin/output_schema.json (deflated 24%)
  adding: model-data/aliccp/dlrm/variables/ (stored 0%)
  adding: model-data/aliccp/dlrm/variables/variables.index (deflated 69%)
  adding: model-data/aliccp/dlrm/variables/variables.data-00000-of-00001 (deflated 8%)
  adding: model-data/aliccp/dlrm/keras_metadata.pb (deflated 94%)
  adding: model-data/aliccp/dlrm/assets/ (stored 0%)
  adding: model-data/aliccp/dlrm/fingerprint.pb (stored 0%)
  adding: model-data/aliccp/dlrm/saved_model.pb (deflated 91%)
  adding: model-data/aliccp/user_features.parquet (deflated 77%)
  adding: model-data/aliccp/processed/ (stored 0%)
  adding: model-data/aliccp/processed/train/ (stored 0%)
  adding: model-data/aliccp/processed/train/schema.pbtxt (deflated 92%)
  adding: model-data/aliccp/processed/train/.merlin/ (stored 0%)
  adding: model-data/aliccp/processed/train/.merlin/schema.json (deflated 88%)
  adding: model-data/aliccp/processed/train/_metadata (deflated 75%)
  adding: model-data/aliccp/processed/train/_file_list.txt (stored 0%)
  adding: model-data/aliccp/processed/train/_metadata.json (deflated 30%)
  adding: model-data/aliccp/processed/train/part_0.parquet (deflated 19%)
  adding: model-data/aliccp/processed/workflow/ (stored 0%)
  adding: model-data/aliccp/processed/workflow/metadata.json (deflated 14%)
  adding: model-data/aliccp/processed/workflow/workflow.pkl (deflated 83%)
  adding: model-data/aliccp/processed/workflow/categories/ (stored 0%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_profile.parquet (deflated 57%)
  adding: model-data/aliccp/processed/workflow/categories/unique.item_shop.parquet (deflated 53%)
  adding: model-data/aliccp/processed/workflow/categories/unique.item_brand.parquet (deflated 56%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_geography.parquet (deflated 56%)
  adding: model-data/aliccp/processed/workflow/categories/unique.item_id.parquet (deflated 61%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_consumption_2.parquet (deflated 55%)
  adding: model-data/aliccp/processed/workflow/categories/unique.item_category.parquet (deflated 61%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_age.parquet (deflated 56%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_shops.parquet (deflated 56%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_group.parquet (deflated 55%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_intentions.parquet (deflated 59%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_categories.parquet (deflated 60%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_brands.parquet (deflated 58%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_gender.parquet (deflated 56%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_is_occupied.parquet (deflated 56%)
  adding: model-data/aliccp/processed/workflow/categories/unique.user_id.parquet (deflated 61%)
  adding: model-data/aliccp/processed/valid/ (stored 0%)
  adding: model-data/aliccp/processed/valid/schema.pbtxt (deflated 92%)
  adding: model-data/aliccp/processed/valid/.merlin/ (stored 0%)
  adding: model-data/aliccp/processed/valid/.merlin/schema.json (deflated 88%)
  adding: model-data/aliccp/processed/valid/_metadata (deflated 75%)
  adding: model-data/aliccp/processed/valid/_file_list.txt (deflated 2%)
  adding: model-data/aliccp/processed/valid/_metadata.json (deflated 30%)
  adding: model-data/aliccp/processed/valid/part_0.parquet (deflated 18%)
  adding: model-data/aliccp/processed/retrieval/ (stored 0%)
  adding: model-data/aliccp/processed/retrieval/train/ (stored 0%)
  adding: model-data/aliccp/processed/retrieval/train/schema.pbtxt (deflated 92%)
  adding: model-data/aliccp/processed/retrieval/train/.merlin/ (stored 0%)
  adding: model-data/aliccp/processed/retrieval/train/.merlin/schema.json (deflated 88%)
  adding: model-data/aliccp/processed/retrieval/train/_metadata (deflated 76%)
  adding: model-data/aliccp/processed/retrieval/train/_file_list.txt (deflated 5%)
  adding: model-data/aliccp/processed/retrieval/train/_metadata.json (deflated 27%)
  adding: model-data/aliccp/processed/retrieval/train/part_0.parquet (deflated 19%)
  adding: model-data/aliccp/processed/retrieval/valid/ (stored 0%)
  adding: model-data/aliccp/processed/retrieval/valid/schema.pbtxt (deflated 92%)
  adding: model-data/aliccp/processed/retrieval/valid/.merlin/ (stored 0%)
  adding: model-data/aliccp/processed/retrieval/valid/.merlin/schema.json (deflated 88%)
  adding: model-data/aliccp/processed/retrieval/valid/_metadata (deflated 76%)
  adding: model-data/aliccp/processed/retrieval/valid/_file_list.txt (deflated 5%)
  adding: model-data/aliccp/processed/retrieval/valid/_metadata.json (deflated 27%)
  adding: model-data/aliccp/processed/retrieval/valid/part_0.parquet (deflated 16%)
  adding: model-data/aliccp/categories/ (stored 0%)
  adding: model-data/aliccp/categories/categories/ (stored 0%)
  adding: model-data/aliccp/categories/categories/unique.user_profile.parquet (deflated 57%)
  adding: model-data/aliccp/categories/categories/unique.item_shop.parquet (deflated 53%)
  adding: model-data/aliccp/categories/categories/unique.item_brand.parquet (deflated 56%)
  adding: model-data/aliccp/categories/categories/unique.user_geography.parquet (deflated 56%)
  adding: model-data/aliccp/categories/categories/unique.item_id.parquet (deflated 61%)
  adding: model-data/aliccp/categories/categories/unique.user_consumption_2.parquet (deflated 55%)
  adding: model-data/aliccp/categories/categories/unique.item_category.parquet (deflated 61%)
  adding: model-data/aliccp/categories/categories/unique.user_age.parquet (deflated 56%)
  adding: model-data/aliccp/categories/categories/unique.user_shops.parquet (deflated 56%)
  adding: model-data/aliccp/categories/categories/unique.user_group.parquet (deflated 55%)
  adding: model-data/aliccp/categories/categories/unique.user_intentions.parquet (deflated 59%)
  adding: model-data/aliccp/categories/categories/unique.user_categories.parquet (deflated 60%)
  adding: model-data/aliccp/categories/categories/unique.user_brands.parquet (deflated 58%)
  adding: model-data/aliccp/categories/categories/unique.user_gender.parquet (deflated 56%)
  adding: model-data/aliccp/categories/categories/unique.user_is_occupied.parquet (deflated 56%)
  adding: model-data/aliccp/categories/categories/unique.user_id.parquet (deflated 61%)
  adding: model-data/aliccp/item_embeddings.parquet (deflated 37%)
  adding: model-data/aliccp/item_features.parquet (deflated 76%)
  adding: model-data/aliccp/query_tower/ (stored 0%)
  adding: model-data/aliccp/query_tower/.merlin/ (stored 0%)
  adding: model-data/aliccp/query_tower/.merlin/input_schema.json (deflated 87%)
  adding: model-data/aliccp/query_tower/.merlin/output_schema.json (deflated 27%)
  adding: model-data/aliccp/query_tower/variables/ (stored 0%)
  adding: model-data/aliccp/query_tower/variables/variables.index (deflated 56%)
  adding: model-data/aliccp/query_tower/variables/variables.data-00000-of-00001 (deflated 12%)
  adding: model-data/aliccp/query_tower/keras_metadata.pb (deflated 95%)
  adding: model-data/aliccp/query_tower/assets/ (stored 0%)
  adding: model-data/aliccp/query_tower/fingerprint.pb (stored 0%)
  adding: model-data/aliccp/query_tower/saved_model.pb (deflated 91%)